<!doctype html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Alena M. Photographer</title>
    <link rel='stylesheet' href='assets/app.css'/>
    <script src='assets/app.js'></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark" style="<%= 'background-color: rgb(0,0,0,0.7)' if @is_portfolio_page %>">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thenavbar" aria-controls="thenavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="thenavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link<%= ' active' if @current_path == '/' %>" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="portfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
              <div class="dropdown-menu" aria-labelledby="portfolio">
                <a class="dropdown-item" href="/children">Children</a>
                <a class="dropdown-item" href="/family">Family</a>
                <a class="dropdown-item" href="/maternity">Maternity</a>
                <a class="dropdown-item" href="/portraits">Portraits</a>
                <a class="dropdown-item" href="/travel">Travel</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link<%= ' active' if @current_path == '/about' %>" href="/about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link<%= ' active' if @current_path == '/pricing' %>" href="/pricing">Services and Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link<%= ' active' if @current_path == '/contact' %>" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
      <div class='footer flex-container'>
        <div>
          <a href='https://www.facebook.com/alenamartensphotography'
            ><img src='assets/icons8-facebook-48.png'>
          </a>
          <a href='mailto:alena.pastushonak@gmail.com'>
            <img src='assets/icons8-gmail-48.png'>
          </a>
          <a href='https://www.instagram.com/alenamartens'>
            <img src='assets/icons8-instagram-48.png'>
          </a>
        </div>
        <div>© Alena Martens Photography 2019</div>
      </div>
    </main>
  </body>
